@model AllProjectsQueryModel

@{
    ViewBag.Title = "All Projects";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@*<div class="text-center row">
    @foreach (var project in Model)
    {
            <div class="card col-4" style="width: 20rem; ">
                <img class="card-img-top" style="width: 18rem;"
             src="@project.ImageUrl" alt="Book Image">
                <div class="card-body">

                        <h5 class="card-title mt-1">@project.Title</h5>
                            <p class="mb-0">Author: @project.Author</p>
                        <p class="mb-0">Rating: @project.Rating</p>
                        <p>Category: @project.c</p>
                </div>

                    <form class="input-group-sm" asp-controller="Project" asp-action="AddToCollection" asp-route-bookId="@project.Id">
                    <input type="submit" value="Add to Collection" class="fs-6 btn btn-success mb-3 p-2" />
                </form>
            </div>
    }
</div>*@
